<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852949059276-6oftdf66hqkmpootbdj6h62t0eoaq4sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852949059276-6oftdf66hqkmpootbdj6h62t0eoaq4sd</string>
	<key>API_KEY</key>
	<string>AIzaSyDvB9CfZJD2k47jZQ9PzR4XKCADhMqwjqc</string>
	<key>GCM_SENDER_ID</key>
	<string>852949059276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>narcissus-e98cd</string>
	<key>STORAGE_BUCKET</key>
	<string>narcissus-e98cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852949059276:ios:7f18d0d333ecbc6bba6469</string>
</dict>
</plist>